* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $lightgray;
  margin: 0;
  padding: 0;
  padding-top: 64px;
	}

.nav-block {
  margin-bottom: 0;
 }

.main-layout {
margin-left: 240px;
background-color: $darkblue;

.row {
	padding:0 7px 6px !important;
}
}

.logo {
  height: 63px;
  padding: 10px 30px;

  img {
    width: 170px;
	}
}

.wrapper {
  margin: 0;
  padding: 0;
	}

.heading {
  color: $black;
  margin: 18px 20px 10px;
}

.main-layout{
	.row{
	.member-list,
	.member-button {
 border:1px solid white !important;

 }
 }
}

.member-list{
	h5{
	color:red;
	margin-top:-9px;
	font-size: 15px;
	}
}
.icon-download3{
	    position: relative;
    top: 3px;
    left: 20px;
color:orange;
}

.btn-lg{
	padding: 10px 8px;
    font-size: 18px;
    line-height: 1.33;
    position: absolute;
    right: 15px;
    border:none;
    border-radius:0;
}

.member-list{
	p{
	    font-size: 25px;
	}
}

.left-sidebar {
  background-color: $darkgray;
  height: 100%;
  position: fixed;
  width: 240px;
 color:white;
     padding-top: 10px;
 
  h3 {
    font-size: 28px;
    color: white;
    margin-left: 35px;
    margin-top:15px;
  }
  h4{
      font-size: 18px;
    margin-left: 35px;
}
.member-button{
	span{
	position:absolute;
	margin-top:200px;
	}
}
hr{
	border:1px solid white;
}
  }

.letter-wise-details {
	button{
	    background-color: red;
    position: absolute;
    right: 20px;
    font-size: 15px;
	}

	    max-height: 433px;
    overflow-x: hidden;
    overflow-y: scroll;
.row{
    .col{
    border-bottom:1px solid white;
        height: 60px;
    padding: 12px 16px;
    }
    }
}
.letter-A{
	margin-top:36px;
	font-size:19px;
	margin-bottom: -10px;
}

.letter-J{
	margin-top:2px;
	font-size:19px;
	margin-bottom: -10px;
}
.after-letter{
	    margin-top: 8px;
	    margin-bottom:10px;
    
   
    margin-left: -7px;
}
.letter-filter{
	
	 position: absolute;
    top: 69px;
    right: 19px;
    color: black;	
    span{
        font-size: 15px;
    color: white;
    } 

    select{
        width: 65px;
   
    margin-left: 12px;
    }  
}

.map-1 {
  background: $analysis;
  border-radius: 100%;
  font-size: 30px;
  margin-left: -7px;
  padding: 6px;
}

.active {
  background-color: $make;
}

.left-side-nav {
  margin-top: 20px;

  li {
    font-size: 18px;
    list-style: none;
    margin: 0 auto;
    padding: 10px 25px;
  .map {
      color: $whitish;
      font-size: 20px;
      padding-right: 20px;
     }

    a {
      color: $whitish;
      text-decoration: none;
     }
   }
}
.main-layout{
	color:white;
	.row{
      margin-right:0;
	}
}
.list-group {
	p{
	font-size:24px;
	    margin: 0 0 7px 35px;
	    span {
	    padding-left: 20px;
        position: relative;
        font-size: 30px;
        top: 6px;
	   }
	}
}


@media screen and (max-width: 767px) {
  .left-sidebar {
    left: -240px;
	 }

  .main-layout {
    margin-left: 0;
	 }
 }



.heading-icon{
       border-radius: 50%;
    width: 60px;
    font-size: 38px;
    border: 2px solid white;
    
    margin-left: 40px;
    

}
 .heading-icon span {
      text-align: center;
    line-height: 57px;
    display: block;
}

  .names{
      /* display: inline; */
    position: relative;
    top: -48px;
    left: 58px;
  }
.letter-search-A {

  color:blue;
  background-color:red;
  border-radius:100%;
  border:1px solid yellow;
  padding:3px 10px;
  margin-top:50px;
  font-size:26px;
  position:relative;


    

}
 .letter-search-A span {
 
    text-align: center;
    line-height: 44px;
    display: block;
}




/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .icon-search {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .icon-search  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


